body {
    background-color: #2d2d30;
    color: white;
}

#titulo {
    font-size: 30px;
    text-align: center;
}

#mierdon {
    margin-left: 36%;
}    
#boton1, #boton2 {
    display: block; 
    margin-top: 10px; 
    width: 200px; 
    margin-left: auto;  
    margin-right: auto; 
    background-color: rgb(112, 60, 60);
    border-radius: 10px;
}